[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
flask-caching = "*"
pymongo = {extras = ["srv"], version = "*"}
flask-cors = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.9"
